<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/home/nashtech/IdeaProjects/Assignment_Selenium_1"><classes><class name="com.account.pages.AddToCart"><methods><include name="addToCartProduct"/></methods></class><class name="com.account.test.LumaTestFlow"><methods><include name="login_Account_luma"/><include name="myAccount"/><include name="myWishlist"/><include name="myCompareList"/><include name="addTOCartProducts"/></methods></class></classes></test></suite>